@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Barlow:wght@400;700&family=Bellefair&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  text-decoration: none;
}

img,
picture {
  width: 100%;
  display: block;
}

:focus {
  outline: none;
}

body {
  font-family: "Barlow";
  line-height: 1.5;
  overflow-x: hidden;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

h1,
h2,
h3,
h4 {
  font-family: "Bellefair";
}

h5 {
  font-family: "Barlow Condensed";
}

li {
  list-style: none;
}

#header .header {
  height: auto;
  background-color: transparent;
}
#header .header .nav-bar {
  margin-top: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
@media (min-width: 576px) {
  #header .header .nav-bar {
    margin-top: 0;
  }
}
#header .header .nav-bar .brand {
  z-index: 9;
  height: 48px;
  width: 48px;
  margin-left: 1.2rem;
}
@media (min-width: 1151px) {
  #header .header .nav-bar .nav-line {
    position: absolute;
    width: 48%;
    border: 1px solid white;
    opacity: 0.25;
    margin-left: 17rem;
    top: 38px;
    z-index: 1;
  }
}
@media (min-width: 576px) {
  #header .header .nav-bar {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media (min-width: 576px) {
  #header .header .nav-bar .nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
#header .header .nav-bar .nav-list ul {
  position: absolute;
  background: rgba(56, 54, 54, 0.883);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  width: 75vw;
  height: 80vh;
  right: 0%;
  left: -100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.6s cubic-bezier(0, 0.55, 0.45, 1) left;
  z-index: 3;
}
@media (min-width: 576px) {
  #header .header .nav-bar .nav-list ul {
    position: initial;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
    width: auto;
    background-color: transparent;
    padding-right: 0rem;
  }
}
#header .header .nav-bar .nav-list ul.active {
  left: 25%;
}
@media (min-width: 576px) {
  #header .header .nav-bar .nav-list ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(22, 20, 20, 0.589);
    height: 76px;
  }
}
#header .header .nav-bar .nav-list ul li a {
  position: relative;
  color: white;
  text-transform: uppercase;
  line-height: 55px;
  padding-left: 15px;
  padding-right: 10px;
  display: block;
  font-family: "Barlow Condensed";
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 2.7px;
}
#header .header .nav-bar .nav-list ul li a:before, #header .header .nav-bar .nav-list ul li a:after {
  content: "";
  position: absolute;
  top: 115%;
  width: 15%;
  height: 3px;
  background: none;
  transition: 0.8s cubic-bezier(0.5, 1, 0.89, 1);
}
#header .header .nav-bar .nav-list ul li a:after {
  right: 0%;
}
#header .header .nav-bar .nav-list ul li a:hover:before, #header .header .nav-bar .nav-list ul li a:focus:before, #header .header .nav-bar .nav-list ul li a:hover:after, #header .header .nav-bar .nav-list ul li a:focus:after {
  width: 50%;
  background: white;
}
#header .header .nav-bar .nav-list ul li a span {
  font-weight: 700;
}
@media (min-width: 576px) {
  #header .header .nav-bar .nav-list ul li a span {
    margin-right: 0.2rem;
  }
}
#header .header .nav-bar .nav-list .hamburger {
  height: 60px;
  width: 60px;
  display: inline-block;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  cursor: pointer;
}
@media (min-width: 576px) {
  #header .header .nav-bar .nav-list .hamburger {
    display: none;
  }
}
#header .header .nav-bar .nav-list .hamburger:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  animation: hamburger_puls 3s ease infinite;
}
#header .header .nav-bar .nav-list .hamburger .bar {
  height: 3px;
  width: 30px;
  position: relative;
  background-color: white;
  z-index: -1;
}
#header .header .nav-bar .nav-list .hamburger .bar::after, #header .header .nav-bar .nav-list .hamburger .bar::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: white;
  transition: 0.3s ease;
  transition-property: top, bottom;
}
#header .header .nav-bar .nav-list .hamburger .bar::after {
  top: 8px;
}
#header .header .nav-bar .nav-list .hamburger .bar::before {
  bottom: 8px;
}
#header .header .nav-bar .nav-list .hamburger.active .bar::before {
  bottom: 0;
}
#header .header .nav-bar .nav-list .hamburger.active .bar::after {
  top: 0;
}

.hero-container {
  position: absolute;
  color: white;
  text-align: center;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 576px) {
  .hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.hero-container .hero-img picture {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: auto;
}
.hero-container .space {
  position: absolute;
}
@media (min-width: 921px) {
  .hero-container .space {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-direction: row;
    padding: 0 6rem;
    text-align: left;
  }
}
@media (min-width: 1151px) {
  .hero-container .space {
    padding: 0 12rem;
  }
}
@media (min-width: 576px) {
  .hero-container .space .space-desc {
    margin-top: 8rem;
  }
}
.hero-container .space .space-desc span {
  font-family: "Barlow Condensed";
  font-size: 1rem;
  letter-spacing: 2.7px;
  text-transform: uppercase;
}
@media (min-width: 576px) {
  .hero-container .space .space-desc span {
    font-size: 1.25rem;
  }
}
.hero-container .space .space-desc h1 {
  font-family: "Bellefair";
  text-transform: uppercase;
  font-size: 5rem;
  line-height: 90px;
}
@media (min-width: 576px) {
  .hero-container .space .space-desc h1 {
    font-size: 9.375rem;
    line-height: 180px;
  }
}
.hero-container .space .space-desc p {
  font-size: 0.938rem;
  line-height: 25px;
  padding: 0 1.3rem;
}
@media (min-width: 576px) {
  .hero-container .space .space-desc p {
    font-size: 1.125rem;
    margin-bottom: 5rem;
    width: 445px;
  }
}
.hero-container .space .explore-btn {
  text-align: center;
  font-family: "Bellefair";
  font-size: 1.25rem;
  text-transform: uppercase;
  color: #0c0e18;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: white;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3.5rem;
  cursor: pointer;
  z-index: 10;
}
.hero-container .space .explore-btn:hover {
  -webkit-box-shadow: 0 0 0 50px rgba(219, 219, 219, 0.1);
  box-shadow: 0 0 0 50px rgba(219, 219, 219, 0.1);
  -webkit-transition: 0.6s cubic-bezier(0.5, 1, 0.89, 1);
  -o-transition: 0.6s cubic-bezier(0.5, 1, 0.89, 1);
  transition: 0.6s cubic-bezier(0.5, 1, 0.89, 1);
}
@media (min-width: 921px) {
  .hero-container .space .explore-btn {
    margin: 0;
  }
}

.moon-container {
  position: absolute;
  color: white;
  text-align: center;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.moon-container .moon-img {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: auto;
}
.moon-container .destination__container {
  position: absolute;
  height: 704px;
  top: 88px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1.6rem;
}
@media (min-width: 576px) {
  .moon-container .destination__container .destination__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.moon-container .destination__container .destination__top h4 {
  font-size: 1.125rem;
  text-transform: uppercase;
  font-family: "Barlow Condensed";
  letter-spacing: 2.7px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 1.5rem;
}
.moon-container .destination__container .destination__top h4 span {
  font-weight: 700;
  opacity: 25%;
}
.moon-container .destination__container .destination__top .moon {
  background-image: url(../../assets/destination/image-moon.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 170px;
  height: 170px;
  display: inline-block;
  margin-top: 2rem;
}
.moon-container .destination__container .destination__bottom .page__links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 1.5rem 0;
}
.moon-container .destination__container .destination__bottom .page__links li a {
  font-family: "Barlow Condensed";
  font-size: 0.875rem;
  text-transform: uppercase;
  color: white;
  padding: 0 1rem;
  letter-spacing: 2.7px;
}
.moon-container .destination__container .destination__bottom .text__info h1 {
  font-family: "Bellefair";
  font-size: 3.5rem;
  text-transform: uppercase;
}
.moon-container .destination__container .destination__bottom .text__info p {
  font-family: "Barlow";
  line-height: 25px;
  font-size: 0.938rem;
  text-align: center;
  margin-bottom: 1.5rem;
}
.moon-container .destination__container .destination__bottom .text__info .line {
  border: 1px solid white;
  opacity: 0.25;
}
.moon-container .destination__container .destination__bottom .text__info h2,
.moon-container .destination__container .destination__bottom .text__info h3 {
  font-family: "Bellefair";
  font-size: 1.75rem;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.moon-container .destination__container .destination__bottom .text__info h2 span,
.moon-container .destination__container .destination__bottom .text__info h3 span {
  font-family: "Barlow Condensed";
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 2.7px;
}

/*# sourceMappingURL=style.css.map */
