@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Barlow:wght@400;700&family=Bellefair&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  text-decoration: none;
}

img,
picture {
  width: 100%;
  display: block;
}

:focus {
  outline: none;
}

body {
  font-family: "Barlow";
  line-height: 1.5;
  overflow-x: hidden;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

li {
  list-style: none;
}

#header .header {
  height: auto;
  background-color: transparent;
}
#header .header .nav-bar {
  margin-top: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
@media (min-width: 576px) {
  #header .header .nav-bar {
    margin-top: 0;
  }
}
@media (min-width: 1151px) {
  #header .header .nav-bar {
    margin-top: 2rem;
  }
}
#header .header .nav-bar .brand {
  z-index: 9;
  height: 48px;
  width: 48px;
  margin-left: 1.2rem;
}
@media (min-width: 1151px) {
  #header .header .nav-bar .nav-line {
    position: absolute;
    width: 37%;
    border: 1px solid white;
    opacity: 0.25;
    margin-left: 17rem;
    top: 69px;
    z-index: 1;
  }
}
@media (min-width: 576px) {
  #header .header .nav-bar {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media (min-width: 576px) {
  #header .header .nav-bar .nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
#header .header .nav-bar .nav-list #nav__list {
  position: absolute;
  background: rgba(56, 54, 54, 0.698);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  width: 75vw;
  height: 80vh;
  right: 0%;
  left: -100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.6s cubic-bezier(0, 0.55, 0.45, 1) left;
  z-index: 3;
}
@media (min-width: 576px) {
  #header .header .nav-bar .nav-list #nav__list {
    position: initial;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
    width: auto;
    background-color: transparent;
    padding-right: 0rem;
  }
}
#header .header .nav-bar .nav-list #nav__list.active {
  left: 25%;
}
@media (min-width: 576px) {
  #header .header .nav-bar .nav-list #nav__list li {
    padding: 1rem 0.8rem;
  }
}
@media (min-width: 768px) {
  #header .header .nav-bar .nav-list #nav__list li {
    padding: 1rem 2rem;
  }
}
@media (min-width: 576px) {
  #header .header .nav-bar .nav-list #nav__list li {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(170, 160, 160, 0.109);
    height: 76px;
  }
}
#header .header .nav-bar .nav-list #nav__list li .navbar__link {
  position: relative;
  color: white;
  text-transform: uppercase;
  margin-bottom: 2rem;
  display: block;
  font-family: "Barlow Condensed";
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 2.7px;
  padding-left: 0.938rem;
}
@media (min-width: 576px) {
  #header .header .nav-bar .nav-list #nav__list li .navbar__link {
    padding-left: 0;
  }
}
@media (min-width: 768px) {
  #header .header .nav-bar .nav-list #nav__list li .navbar__link {
    margin: 0 auto;
  }
}
#header .header .nav-bar .nav-list #nav__list li .navbar__link::after {
  content: "";
  position: absolute;
  bottom: -100%;
  width: 0%;
  left: 0%;
  border-bottom: 3px solid white;
  background: none;
  transition: 0.8s cubic-bezier(0.5, 1, 0.89, 1);
  display: block;
}
#header .header .nav-bar .nav-list #nav__list li .navbar__link:hover::after, #header .header .nav-bar .nav-list #nav__list li .navbar__link:focus::after {
  opacity: 0.5;
  width: 100%;
  border-bottom: 3px solid white;
}
#header .header .nav-bar .nav-list #nav__list li .navbar__link.active__link::after {
  width: 100%;
}
#header .header .nav-bar .nav-list #nav__list li .navbar__link span {
  font-weight: 700;
}
@media (min-width: 576px) {
  #header .header .nav-bar .nav-list #nav__list li .navbar__link span {
    margin-right: 0.2rem;
  }
}
#header .header .nav-bar .nav-list .hamburger {
  height: 60px;
  width: 60px;
  display: inline-block;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  cursor: pointer;
}
@media (min-width: 576px) {
  #header .header .nav-bar .nav-list .hamburger {
    display: none;
  }
}
#header .header .nav-bar .nav-list .hamburger:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  animation: hamburger_puls 3s ease infinite;
}
#header .header .nav-bar .nav-list .hamburger .bar {
  height: 3px;
  width: 30px;
  position: relative;
  background-color: white;
  z-index: -1;
}
#header .header .nav-bar .nav-list .hamburger .bar::after, #header .header .nav-bar .nav-list .hamburger .bar::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: white;
  transition: 0.3s ease;
  transition-property: top, bottom;
}
#header .header .nav-bar .nav-list .hamburger .bar::after {
  top: 8px;
}
#header .header .nav-bar .nav-list .hamburger .bar::before {
  bottom: 8px;
}
#header .header .nav-bar .nav-list .hamburger.active .bar::before {
  bottom: 0;
}
#header .header .nav-bar .nav-list .hamburger.active .bar::after {
  top: 0;
}

.hero-container {
  position: absolute;
  color: white;
  text-align: center;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-container .hero-img {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  background-image: url(../../assets/home/background-home-mobile.jpg);
}
@media (min-width: 768px) {
  .hero-container .hero-img {
    background-image: url(../../assets/home/background-home-tablet.jpg);
  }
}
@media (min-width: 1150px) {
  .hero-container .hero-img {
    background-image: url(../../assets/home/background-home-desktop.jpg);
  }
}
.hero-container .space {
  position: absolute;
  margin-top: 2.5rem;
  width: 100vw;
}
@media (min-width: 768px) {
  .hero-container .space {
    margin: 0 auto;
    margin-top: 2rem;
  }
}
@media (min-width: 1150px) {
  .hero-container .space {
    padding: 0 2rem;
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    text-align: left;
  }
}
.hero-container .space .space-desc span {
  font-family: "Barlow Condensed";
  font-size: 1rem;
  letter-spacing: 2.7px;
  text-transform: uppercase;
}
@media (min-width: 576px) {
  .hero-container .space .space-desc span {
    font-size: 1.25rem;
  }
}
.hero-container .space .space-desc h1 {
  font-family: "Bellefair";
  text-transform: uppercase;
  font-size: 5rem;
  line-height: 90px;
  padding: 0;
  font-weight: 400;
}
@media (min-width: 768px) {
  .hero-container .space .space-desc h1 {
    font-size: 9.375rem;
    line-height: 180px;
    margin-top: 2rem;
  }
}
.hero-container .space .space-desc p {
  font-size: 0.938rem;
  line-height: 25px;
  padding: 0 1.3rem;
}
@media (min-width: 768px) {
  .hero-container .space .space-desc p {
    font-size: 1.125rem;
    margin: 0 auto;
    width: 445px;
    padding: 2rem 0;
  }
}
.hero-container .space .explore-btn {
  text-align: center;
  font-family: "Bellefair";
  font-size: 1.25rem;
  text-transform: uppercase;
  color: #0c0e18;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: white;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3.5rem;
  cursor: pointer;
  z-index: 10;
}
.hero-container .space .explore-btn:hover, .hero-container .space .explore-btn:focus {
  box-shadow: 0 0 0 50px rgba(219, 219, 219, 0.1);
  transition: 0.6s cubic-bezier(0.45, 0, 0.55, 1);
}
@media (min-width: 768px) {
  .hero-container .space .explore-btn {
    margin: 0;
    height: 250px;
    width: 250px;
    margin: 0 auto;
  }
}
@media (min-width: 1151px) {
  .hero-container .space .explore-btn {
    margin: 0;
    height: 275px;
    width: 275px;
  }
}

.destination__bg {
  position: absolute;
  color: white;
  text-align: center;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.destination__bg .container__img {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  min-height: auto;
  height: 926px;
  background-image: url(../../assets/destination/background-destination-mobile.jpg);
}
@media (min-width: 768px) {
  .destination__bg .container__img {
    background-image: url(../../assets/destination/background-destination-tablet.jpg);
    height: 100vh;
  }
}
@media (min-width: 1150px) {
  .destination__bg .container__img {
    background-image: url(../../assets/destination/background-destination-desktop.jpg);
    max-height: 100vmax;
    min-height: 768px;
  }
}

.destination {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1.6rem;
  color: white;
  margin-top: 1rem;
  width: 100vw;
}
@media (min-width: 1151px) {
  .destination {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-align: left;
    margin-top: 4rem;
    padding: 4rem;
  }
}
@media (min-width: 1151px) {
  .destination .destination__top {
    margin-right: 8rem;
  }
}
@media (min-width: 576px) {
  .destination .destination__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.destination .destination__top h4 {
  font-size: 1.125rem;
  text-transform: uppercase;
  font-family: "Barlow Condensed";
  letter-spacing: 2.4;
  font-weight: 400;
  line-height: 20px;
  margin-top: 2rem;
}
@media (min-width: 576px) {
  .destination .destination__top h4 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }
}
@media (min-width: 1151px) {
  .destination .destination__top h4 {
    font-size: 1.75rem;
    letter-spacing: 4.7px;
  }
}
.destination .destination__top h4 span {
  font-weight: 700;
  opacity: 25%;
}
.destination .destination__top .destination__place {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 170px;
  height: 170px;
  margin: 0 auto;
  margin-top: 2.5rem;
}
@media (min-width: 768px) {
  .destination .destination__top .destination__place {
    width: 300px;
    height: 300px;
  }
}
@media (min-width: 1151px) {
  .destination .destination__top .destination__place {
    width: 445px;
    height: 445px;
  }
}
.destination .destination__bottom .page__links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 1.2rem 0;
}
@media (min-width: 1151px) {
  .destination .destination__bottom .page__links {
    margin-right: 1.8rem;
  }
}
.destination .destination__bottom .page__links li a {
  font-family: "Barlow Condensed";
  font-size: 0.875rem;
  text-transform: uppercase;
  color: white;
  margin: 0 1rem;
  letter-spacing: 2.7px;
  position: relative;
  display: block;
}
.destination .destination__bottom .page__links li a::after {
  content: "";
  position: absolute;
  bottom: -100%;
  width: 0%;
  left: 0%;
  border-bottom: 3px solid white;
  background: none;
  transition: 0.8s cubic-bezier(0.5, 1, 0.89, 1);
  display: block;
}
.destination .destination__bottom .page__links li a:hover::after, .destination .destination__bottom .page__links li a:focus::after {
  opacity: 0.5;
  width: 100%;
  border-bottom: 3px solid white;
}
.destination .destination__bottom .page__links li a.active__link::after {
  width: 100%;
}
@media (min-width: 576px) {
  .destination .destination__bottom .page__links li a {
    font-size: 1rem;
  }
}
.destination .destination__bottom .text__info h1 {
  font-family: "Bellefair";
  font-size: 3.5rem;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 576px) {
  .destination .destination__bottom .text__info h1 {
    font-size: 5rem;
  }
}
@media (min-width: 768px) {
  .destination .destination__bottom .text__info h1 {
    font-size: 6.25rem;
    margin-top: 2rem;
  }
}
@media (min-width: 1150px) {
  .destination .destination__bottom .text__info h1 {
    text-align: left;
  }
}
.destination .destination__bottom .text__info p {
  font-family: "Barlow";
  line-height: 25px;
  font-size: 0.938rem;
  text-align: center;
  margin-bottom: 2rem;
}
@media (min-width: 576px) {
  .destination .destination__bottom .text__info p {
    font-size: 1rem;
    line-height: 28px;
    width: 570px;
  }
}
@media (min-width: 1151px) {
  .destination .destination__bottom .text__info p {
    text-align: left;
    width: 444px;
  }
}
@media (min-width: 576px) {
  .destination .destination__bottom .text__info p {
    font-size: 1.125rem;
  }
}
.destination .destination__bottom .text__info .line {
  border: 1px solid white;
  opacity: 0.25;
}
.destination .destination__bottom .text__info .travel-info h2,
.destination .destination__bottom .text__info .travel-info h3 {
  font-family: "Bellefair";
  font-size: 1.75rem;
  text-transform: uppercase;
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-top: 1rem;
}
.destination .destination__bottom .text__info .travel-info h2 span,
.destination .destination__bottom .text__info .travel-info h3 span {
  font-family: "Barlow Condensed";
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 2.7px;
}
@media (min-width: 1151px) {
  .destination .destination__bottom .text__info .travel-info h2,
.destination .destination__bottom .text__info .travel-info h3 {
    font-size: 1.75rem;
  }
}
@media (min-width: 576px) {
  .destination .destination__bottom .text__info .travel-info {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    margin-top: 1.5rem;
  }
}
@media (min-width: 1151px) {
  .destination .destination__bottom .text__info .travel-info {
    justify-content: space-between;
  }
}
@media (min-width: 1151px) {
  .destination .destination__bottom .text__info {
    margin-left: 7rem;
  }
}

.crew__bg {
  position: absolute;
  color: white;
  text-align: center;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.crew__bg .container__img {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 720px;
  min-height: 100vh;
  background-image: url(../../assets/crew/background-crew-mobile.jpg);
}
@media (min-width: 768px) {
  .crew__bg .container__img {
    background-image: url(../../assets/crew/background-crew-tablet.jpg);
  }
}
@media (min-width: 1150px) {
  .crew__bg .container__img {
    background-image: url(../../assets/crew/background-crew-desktop.jpg);
  }
}

.crew {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1.6rem;
  color: white;
  margin-top: 1rem;
  width: 100vw;
}
.crew h2 {
  font-size: 1.125rem;
  text-transform: uppercase;
  font-family: "Barlow Condensed";
  letter-spacing: 2.7px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 1rem;
  text-align: center;
  margin-bottom: 3rem;
  position: relative;
}
@media (min-width: 768px) {
  .crew h2 {
    position: absolute;
    font-size: 1.5rem;
    top: -5%;
    margin-top: 3rem;
  }
}
@media (min-width: 1150px) {
  .crew h2 {
    right: 76%;
    top: 8%;
    position: absolute;
    font-size: 1.75rem;
  }
}
.crew h2 span {
  font-weight: 700;
  opacity: 25%;
}
@media (min-width: 768px) {
  .crew {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
  }
}
.crew .crew__top .crew__img {
  width: 177px;
  height: 222px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
}
@media (min-width: 768px) {
  .crew .crew__top .crew__img {
    width: 456px;
    height: 572px;
    top: 18px;
    overflow: hidden;
  }
}
@media (min-width: 1150px) {
  .crew .crew__top .crew__img {
    right: -70%;
    top: 3.3rem;
    Width: 425px;
    Height: 544px;
    overflow: hidden;
  }
}
@media (min-width: 1440px) {
  .crew .crew__top .crew__img {
    width: 568.07px;
    height: 712px;
    top: 4rem;
  }
}
.crew .crew__top .crew__img .line {
  position: absolute;
  width: 350px;
  top: 240px;
  left: -83px;
  border-bottom: 1px solid white;
  opacity: 0.25;
}
@media (min-width: 768px) {
  .crew .crew__top .crew__img .line {
    border: none;
  }
}
@media (min-width: 768px) {
  .crew .crew__bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
  }
}
@media (min-width: 1150px) {
  .crew .crew__bottom {
    position: absolute;
    left: 8%;
  }
}
.crew .crew__bottom .page__links {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
@media (min-width: 1150px) {
  .crew .crew__bottom .page__links {
    position: absolute;
    bottom: -25%;
    left: -2%;
  }
}
.crew .crew__bottom .page__links li .dot {
  width: 15px;
  height: 15px;
  background: white;
  border-radius: 50%;
  opacity: 0.25;
  display: inline-block;
  margin: 0rem 1rem;
  margin-top: 3rem;
}
.crew .crew__bottom .page__links li .dot:hover, .crew .crew__bottom .page__links li .dot:focus, .crew .crew__bottom .page__links li .dot.active {
  opacity: 1;
  box-shadow: 0 0 0 10px rgba(219, 219, 219, 0.1);
  transition: 0.6s cubic-bezier(0.45, 0, 0.55, 1);
}
.crew .crew__bottom .text__info h1 {
  font-family: "Bellefair";
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 2rem;
  text-transform: uppercase;
  font-weight: 400;
}
@media (min-width: 768px) {
  .crew .crew__bottom .text__info h1 {
    margin-top: 4rem;
  }
}
@media (min-width: 1150px) {
  .crew .crew__bottom .text__info h1 {
    text-align: left;
    font-size: 3.5rem;
  }
}
.crew .crew__bottom .text__info h1 span {
  font-size: 1rem;
  opacity: 0.5;
  font-family: "Bellefair";
}
@media (min-width: 1150px) {
  .crew .crew__bottom .text__info h1 span {
    font-size: 2rem;
  }
}
.crew .crew__bottom .text__info p {
  margin-top: 2rem;
  font-size: 0.938rem;
  text-align: center;
}
@media (min-width: 768px) {
  .crew .crew__bottom .text__info p {
    width: 460px;
  }
}
@media (min-width: 1150px) {
  .crew .crew__bottom .text__info p {
    text-align: left;
    font-size: 1.125rem;
  }
}

.tech__bg {
  position: absolute;
  color: white;
  text-align: center;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tech__bg .container__img {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  min-height: 667px;
  background-image: url(../../assets/technology/background-technology-mobile.jpg);
}
@media (min-width: 768px) {
  .tech__bg .container__img {
    background-image: url(../../assets/technology/background-technology-tablet.jpg);
  }
}
@media (min-width: 1150px) {
  .tech__bg .container__img {
    background-image: url(../../assets/technology/background-technology-desktop.jpg);
  }
}

.tech {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1.6rem;
  color: white;
  margin-top: 1rem;
  width: 100vw;
  padding: 0;
}
@media (min-width: 1150px) {
  .tech {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}
.tech .tech__top {
  margin: 2.5rem 0;
}
@media (min-width: 768px) {
  .tech .tech__top {
    margin-top: 6.5rem;
  }
}
@media (min-width: 1150px) {
  .tech .tech__top {
    margin-top: 5%;
  }
}
@media (min-width: 1440px) {
  .tech .tech__top {
    margin-top: 10%;
  }
}
.tech .tech__bottom {
  padding: 0 1.5rem;
  text-align: center;
}
@media (min-width: 1150px) {
  .tech .tech__bottom {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.tech .tech__bottom h2 {
  font-family: "Barlow Condensed";
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2.7px;
  font-weight: 400;
  position: absolute;
  top: -1%;
  left: 30%;
}
.tech .tech__bottom h2 span {
  font-weight: 700;
  opacity: 0.25;
}
@media (min-width: 768px) {
  .tech .tech__bottom h2 {
    font-size: 1.25rem;
    left: 4%;
    top: 3.5%;
  }
}
@media (min-width: 1150px) {
  .tech .tech__bottom h2 {
    font-size: 1.75rem;
  }
}
.tech .tech__bottom .page__links {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 1150px) {
  .tech .tech__bottom .page__links {
    display: block;
  }
}
.tech .tech__bottom .page__links li .dot {
  font-family: "Bellefair";
  font-size: 1rem;
  color: white;
  width: 40px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.363);
  margin: 1rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.6s cubic-bezier(0.61, 1, 0.88, 1);
}
.tech .tech__bottom .page__links li .dot:hover {
  border: 1px solid white;
}
@media (min-width: 1150px) {
  .tech .tech__bottom .page__links li .dot {
    width: 80px;
    height: 80px;
    font-size: 2rem;
    margin: 2.5rem;
  }
}
.tech .tech__bottom .page__links li .active {
  background-color: white;
  color: #0c0e18;
  border: 1px solid white;
}
@media (min-width: 1150px) {
  .tech .tech__bottom .text__info {
    display: block;
    text-align: left;
  }
}
.tech .tech__bottom .text__info h1 {
  font-family: "Bellefair";
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
.tech .tech__bottom .text__info h1 span {
  font-family: "Barlow Condensed";
  font-size: 0.875rem;
  letter-spacing: 2.4px;
}
@media (min-width: 768px) {
  .tech .tech__bottom .text__info h1 span {
    font-size: 0.938rem;
  }
}
@media (min-width: 768px) {
  .tech .tech__bottom .text__info h1 {
    font-size: 2.5rem;
  }
}
@media (min-width: 1150px) {
  .tech .tech__bottom .text__info h1 {
    font-size: 3.5rem;
    margin-top: 0.5rem;
  }
}
.tech .tech__bottom .text__info p {
  font-size: 0.938rem;
  line-height: 25px;
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .tech .tech__bottom .text__info p {
    font-size: 1rem;
    width: 460px;
  }
}
@media (min-width: 1150px) {
  .tech .tech__bottom .text__info p {
    font-size: 1.125rem;
    width: 445px;
    line-height: 32px;
  }
}

/*# sourceMappingURL=style.css.map */
