.crew__bg {
    @include heroStyle;

    .container__img {
        @include heroImage;
        width: 100vw;
        height: 720px;
        min-height: 100vh;
        background-image: url(../../assets/crew/background-crew-mobile.jpg);

        @include media('>=tablet') {
            background-image: url(../../assets/crew/background-crew-tablet.jpg);
        }

        @include media('>=smallDesktop') {
            background-image: url(../../assets/crew/background-crew-desktop.jpg);
        }
    }
}

.crew {
    @include heroImgPostion;

    h2 {
        font-size: $font-size-v10;
        text-transform: $text-transfrom-upper;
        font-family: $font-base-family-2;
        letter-spacing: $letter-spacing-1;
        font-weight: $font-weight-400;
        line-height: 20px;
        margin-top: 1rem;
        text-align: center;
        margin-bottom: 3rem;
        position: relative;

        @include media('>=tablet') {
            position: absolute;
            font-size: $font-size-v8;
            top: -5%;
            margin-top: 3rem;
        }

        @include media('>=smallDesktop') {
            right: 76%;
            top: 8%;
            position: absolute;
            font-size: $font-size-v7;
        }

        span {
            font-weight: $font-weight-700;
            opacity: $color-opacity;
        }
    }

    @include media('>=tablet') {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
    }

    .crew__top {
        .crew__img {
            width: 177px;
            height: 222px;
            position: relative;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            overflow: hidden;

            @include media('>=tablet') {
                width: 456px;
                height: 572px;
                top: 18px;
                overflow: hidden;
            }

            @include media('>=smallDesktop') {
                right: -70%;
                top: 3.3rem;
                Width: 425px;
                Height: 544px;
                overflow: hidden;
            }

            @include media('>=midDesktop') {
                width: 568.07px;
                height: 712px;
                top: 4rem;
            }

            .line {
                position: absolute;
                width: 350px;
                top: 240px;
                left: -83px;
                border-bottom: 1px solid $color-white;
                opacity: $color-opacity;

                @include media('>=tablet') {
                    border: none;
                }
            }
        }
    }

    .crew__bottom {
        @include media('>=tablet') {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column-reverse;
        }

        @include media('>=smallDesktop') {
            position: absolute;
            left: 8%;
        }

        .page__links {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            @include media('>=smallDesktop') {
                position: absolute;
                bottom: -25%;
                left: -2%;
            }

            li {
                .dot {
                    width: 15px;
                    height: 15px;
                    background: $color-white;
                    border-radius: 50%;
                    opacity: $color-opacity;
                    display: inline-block;
                    margin: 0rem 1rem;
                    margin-top: 3rem;

                    &:hover,
                    &:focus,
                    &.active {
                        opacity: 1;
                        box-shadow: 0 0 0 10px hsla(0, 0%, 86%, 0.1);
                        transition: 0.6s cubic-bezier(0.45, 0, 0.55, 1);
                    }
                }
            }
        }

        .text__info {
            h1 {
                font-family: $font-base-family-3;
                font-size: $font-size-v8;
                display: flex;
                flex-direction: column;
                text-align: center;
                margin-top: 2rem;
                text-transform: $text-transfrom-upper;
                font-weight: $font-weight-400;

                @include media('>=tablet') {
                    margin-top: 4rem;
                }

                @include media('>=smallDesktop') {
                    text-align: left;
                    font-size: $font-size-v4;
                }

                span {
                    font-size: $font-size-v11;
                    opacity: $color-opacity;
                    font-family: $font-base-family-3;

                    @include media('>=smallDesktop') {
                        font-size: $font-size-v6;
                    }
                }
            }

            p {
                margin-top: 2rem;
                font-size: $font-size-v12;
                text-align: center;

                @include media('>=tablet') {
                    width: 460px;
                }

                @include media('>=smallDesktop') {
                    text-align: left;
                    font-size: $font-size-v10;
                }
            }
        }
    }
}