.moon-container {
    @include heroStyle;

    .moon-img {
        @include heroImage;
    }

    .destination__container {
        position: absolute;
        height: 704px;
        top: 88px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 1.6rem;

        .destination__top {

            @include media('>largePhone') {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            h4 {
                font-size: $font-size-v10;
                text-transform: $text-transfrom-upper;
                font-family: $font-base-family-2;
                letter-spacing: $letter-spacing-1;
                font-weight: $font-weight-400;
                line-height: 20px;
                margin-top: 1.5rem;

                // @include media('>largePhone') {
                //     font-size: $font-size-v9;
                //     position: absolute;
                //     height: 24px;
                //     left: 20px;
                //     top: 6px;     
                // }

                span {
                    font-weight: $font-weight-700;
                    opacity: 25%;
                }
            }

            .moon {
                background-image: url(../../assets/destination/image-moon.webp);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                width: 170px;
                height: 170px;
                display: inline-block;
                margin-top: 2rem;

                // @include media('>largePhone') {
                //     width: 300px;
                //     height: 300px;

                // }
            }
        }

        .destination__bottom {
            .page__links {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row;
                margin: 1.5rem 0;

                li {
                    a {
                        font-family: $font-base-family-2;
                        font-size: $font-size-v13;
                        text-transform: $text-transfrom-upper;
                        color: $color-white;
                        padding: 0 1rem;
                        letter-spacing: $letter-spacing-1;
                    }
                }
            }

            .text__info {
                h1 {
                    font-family: $font-base-family-3;
                    font-size: $font-size-v4;
                    text-transform: $text-transfrom-upper;
                }

                p {
                    font-family: $font-base-family-1;
                    line-height: 25px;
                    font-size: $font-size-v12;
                    text-align: center;
                    margin-bottom: 1.5rem;
                }

                .line {
                    border: 1px solid $color-white;
                    opacity: .25;
                }

                h2,
                h3 {
                    font-family: $font-base-family-3;
                    font-size: $font-size-v7;
                    text-transform: $text-transfrom-upper;
                    display: flex;
                    flex-direction: column;
                    margin-top: 1rem;

                    span {
                        font-family: $font-base-family-2;
                        font-size: $font-size-v13;
                        font-weight: $font-weight-400;
                        line-height: 2rem;
                        letter-spacing: $letter-spacing-1;
                    }
                }
            }
        }

    }

}