.moon-container {
    @include heroStyle;

    .moon-img {
        @include heroImage;
    }

    .destination__container {
        position: absolute;
        // height: 704px;
        top: 88px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 1.6rem;

        @include media('>smallDesktop') {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            text-align: left;
            margin-top: 8rem;
        }

        .destination__top {

            @include media('>smallDesktop') {
                margin-right: 8rem;
            }

            @include media('>largePhone') {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            h4 {
                font-size: $font-size-v10;
                text-transform: $text-transfrom-upper;
                font-family: $font-base-family-2;
                letter-spacing: $letter-spacing-1;
                font-weight: $font-weight-400;
                line-height: 20px;
                margin-top: 2rem;

                @include media('>largePhone') {
                    font-size: $font-size-v9;
                    margin-bottom: 1rem;
                }

                @include media('>smallDesktop') {
                    font-size: $font-size-v7;
                    letter-spacing: 4.7px;
                }

                span {
                    font-weight: $font-weight-700;
                    opacity: 25%;
                }
            }

            .moon {
                // background-image: url(../../assets/destination/image-moon.webp);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                width: 170px;
                height: 170px;
                display: inline-block;
                margin-top: 2.5rem;

                @include media('>largePhone') {
                    width: 300px;
                    height: 300px;
                }

                @include media('>smallDesktop') {
                    width: 445px;
                    height: 445px;
                }
            }
        }

        .destination__bottom {
            .page__links {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row;
                margin: 2rem 0;

                li {
                    a {
                        font-family: $font-base-family-2;
                        font-size: $font-size-v13;
                        text-transform: $text-transfrom-upper;
                        color: $color-white;
                        margin-right: 2.2rem;
                        letter-spacing: $letter-spacing-1;
                        position: relative;
                        display: block;

                        @include navbarHover; 

                        @include media('>largePhone') {
                            font-size: $font-size-v11;
                        }
                    }
                }
            }

            .text__info {
                h1 {
                    font-family: $font-base-family-3;
                    font-size: $font-size-v4;
                    text-transform: $text-transfrom-upper;

                    @include media('>largePhone') {
                        font-size: $font-size-v3;
                    }

                    @include media('>largePhone') {
                        font-size: $font-size-v2;
                    }
                }

                p {
                    font-family: $font-base-family-1;
                    line-height: 25px;
                    font-size: $font-size-v12;
                    text-align: center;
                    margin-bottom: 2rem;

                    @include media('>largePhone') {
                        font-size: $font-size-v11;
                        line-height: 28px;
                        width: 570px;
                    }

                    @include media('>smallDesktop') {
                        text-align: left;
                        width: 444px;
                    }

                    @include media('>largePhone') {
                        font-size: $font-size-v10;
                    }
                }

                .line {
                    border: 1px solid $color-white;
                    opacity: .25;
                }

                .travel-info {

                    h2,
                    h3 {
                        font-family: $font-base-family-3;
                        font-size: $font-size-v7;
                        text-transform: $text-transfrom-upper;
                        display: flex;
                        flex-direction: column;
                        margin-top: 1rem;

                        span {
                            font-family: $font-base-family-2;
                            font-size: $font-size-v13;
                            font-weight: $font-weight-400;
                            line-height: 2rem;
                            letter-spacing: $letter-spacing-1;
                        }

                        @include media('>smallDesktop') {
                            font-size: $font-size-v7;
                        }
                    }

                    @include media('>largePhone') {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        justify-content: space-around;
                        margin-top: 3rem;
                    }

                    @include media('>smallDesktop') {
                        justify-content: space-between;
                    }
                }

                @include media('>smallDesktop') {
                    margin-left: 7rem;
                }
            }
        }
    }
}