.hero-container {
    @include heroStyle;

    .hero-img {
        @include heroImage;
        height: 100vh;
        width: 100vw;
        background-image: url(../../assets/home/background-home-mobile.jpg);

        @include media('>=tablet') {
            background-image: url(../../assets/home/background-home-tablet.jpg);
        }

        @include media('>=smallDesktop') {
            background-image: url(../../assets/home/background-home-desktop.jpg);
        }

    }

    .space {
        position: absolute;
        margin-top: 2.5rem;
        width: 100vw;

        @include media('>=tablet') {
            margin: 0 auto;
            margin-top: 2rem;
        }

        @include media('>=smallDesktop') {
            padding: 0 2rem;
            margin-top: 2rem;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: row;
            text-align: left
        }

        .space-desc {

            span {
                font-family: $font-base-family-2;
                font-size: $font-size-v11;
                letter-spacing: $letter-spacing-1;
                text-transform: $text-transfrom-upper;

                @include media('>largePhone') {
                    font-size: $font-size-v9;
                }
            }

            h1 {
                font-family: $font-base-family-3;
                text-transform: $text-transfrom-upper;
                font-size: $font-size-v3;
                line-height: 90px;
                padding: 0;

                @include media('>=tablet') {
                    font-size: $font-size-v1;
                    line-height: 180px;
                    margin-top: 2rem;
                }
            }

            p {
                font-size: $font-size-v12;
                line-height: 25px;
                padding: 0 1.3rem;

                @include media('>=tablet') {
                    font-size: $font-size-v10;
                    margin: 0 auto;
                    width: 445px;
                    padding: 2rem 0;
                }
            }
        }

        .explore-btn {
            text-align: center;
            font-family: $font-base-family-3;
            font-size: $font-size-v9;
            text-transform: $text-transfrom-upper;
            color: $color-very-dark;
            height: 150px;
            width: 150px;
            border-radius: 50%;
            background-color: $color-white;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 3.5rem;
            cursor: pointer;
            z-index: 10;

            &:hover,
            &:focus {
                box-shadow: 0 0 0 50px hsla(0, 0%, 86%, 0.1);
                transition: 0.6s cubic-bezier(0.45, 0, 0.55, 1);
            }

            @include media('>=tablet') {
                margin: 0;
                height: 250px;
                width: 250px;
                margin: 0 auto;
            }

            @include media('>smallDesktop') {
                margin: 0;
                height: 275px;
                width: 275px;
            }
        }
    }
}