.tech__bg {
    @include heroStyle;

    .container__img {
        @include heroImage;
        width: 100vw;
        height: 100vh;
        min-height: 667px;
        background-image: url(../../assets/technology/background-technology-mobile.jpg);

        @include media('>=tablet') {
            background-image: url(../../assets/technology/background-technology-tablet.jpg);
        }

        @include media('>=smallDesktop') {
            background-image: url(../../assets/technology/background-technology-desktop.jpg);
        }
    }
}



.tech {
    @include heroImgPostion;
    padding: 0;

    @include media('>=smallDesktop') {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row-reverse;
    }

    .tech__top {
        margin: 2.5rem 0;

        @include media('>=tablet') {
            margin-top: 6.5rem;
        }

        @include media('>=smallDesktop') {
            margin-top: 5%;
        }

        @include media('>=midDesktop') {
            margin-top: 10%;
        }
    }

    .tech__bottom {
        padding: 0 1.5rem;
        text-align: center;

        @include media('>=smallDesktop') {
            display: flex;
            align-items: center;
            justify-content: center;

        }

        h2 {
            font-family: $font-base-family-2;
            font-size: $font-size-v11;
            text-transform: $text-transfrom-upper;
            letter-spacing: 2.7px;
            font-weight: $font-weight-400;
            position: absolute;
            top: -1%;
            left: 30%;

            span {
                font-weight: $font-weight-700;
                opacity: $color-opacity;
            }

            @include media('>=tablet') {
                font-size: $font-size-v9;
                left: 4%;
                top: 3.5%;
            }

            @include media('>=smallDesktop') {
                font-size: $font-size-v7;

            }
        }

        .page__links {
            display: flex;
            align-items: center;
            justify-content: center;

            @include media('>=smallDesktop') {
                display: block;
            }

            li {
                .dot {
                    font-family: $font-base-family-3;
                    font-size: $font-size-v11;
                    color: $color-white;
                    width: 40px;
                    height: 40px;
                    border: 1px solid hsla(0, 0%, 100%, 0.363);
                    margin: 1rem;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: 0.6s cubic-bezier(0.61, 1, 0.88, 1);

                    &:hover {
                        border: 1px solid $color-white;
                    }

                    @include media('>=smallDesktop') {
                        width: 80px;
                        height: 80px;
                        font-size: $font-size-v6;
                        margin: 2.5rem;
                    }
                }

                .active {
                    background-color: white;
                    color: $color-very-dark;
                    border: 1px solid $color-white;
                }
            }
        }

        .text__info {

            @include media('>=smallDesktop') {
                display: block;
                text-align: left;
            }

            h1 {
                font-family: $font-base-family-3;
                font-size: $font-size-v8;
                text-transform: $text-transfrom-upper;
                font-weight: $font-weight-400;
                display: flex;
                flex-direction: column;
                margin-top: 2rem;

                span {
                    font-family: $font-base-family-2;
                    font-size: $font-size-v13;
                    letter-spacing: 2.4px;

                    @include media('>=tablet') {
                        font-size: $font-size-v12;
                    }
                }

                @include media('>=tablet') {
                    font-size: $font-size-v5;
                }

                @include media('>=smallDesktop') {
                    font-size: $font-size-v4;
                    margin-top: .5rem;
                }
            }

            p {
                font-size: $font-size-v12;
                line-height: 25px;
                margin-top: 1rem;

                @include media('>=tablet') {
                    font-size: $font-size-v11;
                    width: 460px;
                }

                @include media('>=smallDesktop') {
                    font-size: $font-size-v10;
                    width: 445px;
                    line-height: 32px;
                }
            }
        }
    }
}