@mixin navHover {

    &:before,
    &:after {
        content: '';
        position: absolute;
        top: 100%;
        width: 15%;
        height: 3px;
        background: none;
        transition: .8s cubic-bezier(0.5, 1, 0.89, 1);
    }

    &:before {
        left: fixed;
    }

    &:after {
        right: 0%;
    }

    &:hover:before,
    &:focus:before,
    &:hover:after,
    &:focus:after {
        width: 50%;
        background: $color-white;
    }

    &:active {
        color: $color-white;
    }
}