@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap');


$font-base-family-1: 'Barlow';
$font-base-family-2: 'Barlow Condensed';
$font-base-family-3: 'Bellefair';


$font-size-body: 1.125rem;

$font-size-v1: 9.375rem; //150px
$font-size-v2: 6.25rem; //100px
$font-size-v3: 3.5rem; //56px
$font-size-v4: 2rem; //32px
$font-size-v5: 1.75rem; //28px