#header .header {
    height: auto;
    background-color: transparent;

    .nav-bar {
        margin-top: .6rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;

        @include media('>largePhone') {
            margin-top: 0;
        }

        .brand {
            z-index: 9;
            height: 48px;
            width: 48px;
            margin-left: 1.2rem;
        }

        @include media('>smallDesktop') {
            .nav-line {
                position: absolute;
                width: 48%;
                border: 1px solid $color-white;
                opacity: .25;
                margin-left: 17rem;
                top: 38px;
                z-index: 1;
            }
        }

        @include media('>largePhone') {
            height: 75px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .nav-list {
            @include media('>largePhone') {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            ul {
                position: absolute;
                background: rgba(56, 54, 54, 0.883);
                -webkit-backdrop-filter: blur(15px);
                backdrop-filter: blur(15px);
                width: 75vw;
                height: 80vh;
                right: 0%;
                left: -100%;
                top: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                z-index: 1;
                overflow-x: hidden;
                transition: .6s cubic-bezier(0, 0.55, 0.45, 1) left;
                z-index: 3;

                @include media('>largePhone') {
                    position: initial;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    height: auto;
                    width: auto;
                    background-color: transparent;
                    padding-right: 0rem;
                }

                &.active {
                    left: 25%;
                }

                li {

                    @include media('>largePhone') {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: rgba(22, 20, 20, 0.589);
                        height: 76px;
                    }

                    a {
                        position: relative;
                        color: $color-white;
                        text-transform: uppercase;
                        line-height: 55px;
                        padding-left: 15px;
                        padding-right: 10px;
                        display: block;
                        font-family: $font-base-family-2;
                        font-weight: $font-weight-400;
                        font-size: $font-size-v11;
                        letter-spacing: $letter-spacing-1;

                        &:before,
                        &:after {
                            content: '';
                            position: absolute;
                            top: 115%;
                            width: 15%;
                            height: 3px;
                            background: none;
                            transition: .8s cubic-bezier(0.5, 1, 0.89, 1);
                        }

                        // &:before {
                        //     left: fixed;
                        // }

                        &:after {
                            right: 0%;
                        }

                        &:hover:before,
                        &:focus:before,
                        &:hover:after,
                        &:focus:after {
                            width: 50%;
                            background: $color-white;
                        }


                        span {
                            font-weight: $font-weight-700;

                            @include media('>largePhone') {
                                margin-right: .2rem;
                            }
                        }
                    }
                }
            }

            .hamburger {
                height: 60px;
                width: 60px;
                display: inline-block;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                z-index: 10;
                cursor: pointer;

                @include media('>largePhone') {
                    display: none;
                }

                &:after {
                    position: absolute;
                    content: '';
                    height: 100%;
                    width: 100%;
                    animation: hamburger_puls 3s ease infinite;
                }

                .bar {
                    height: 3px;
                    width: 30px;
                    position: relative;
                    background-color: $color-white;
                    z-index: -1;

                    &::after,
                    &::before {
                        content: '';
                        position: absolute;
                        height: 100%;
                        width: 100%;
                        left: 0;
                        background-color: $color-white;
                        transition: .3s ease;
                        transition-property: top, bottom;
                    }

                    &::after {
                        top: 8px;
                    }

                    &::before {
                        bottom: 8px;
                    }
                }
            }

            .hamburger.active .bar::before {
                bottom: 0;
            }

            .hamburger.active .bar::after {
                top: 0;
            }
        }
    }
}