@mixin heroStyle {
    position: absolute;
    color: $color-white;
    text-align: center;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin heroImage {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


@mixin navbarHover {

    &::after {
        content: '';
        position: absolute;
        bottom: -100%;
        width: 0%;
        left: 0%;
        border-bottom: 3px solid $color-white;
        background: none;
        transition: .8s cubic-bezier(0.5, 1, 0.89, 1);
        display: block;
    }

    &:hover::after,
    &:focus::after {
        opacity: .5;
        width: 100%;
        border-bottom: 3px solid $color-white
    }
    
    &.active__link::after {
        width: 100%;
    }
}


@mixin heroImgPostion {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 1.6rem;
    color: $color-white;
    margin-top: 1rem;
    width: 100vw;
}