@mixin heroStyle {
    position: absolute;
    color: $color-white;
    text-align: center;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin heroImage {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


@mixin navbarHover {

    &:before,
    &:after {
        content: '';
        position: absolute;
        top: 195%;
        width: 0%;

        border-bottom: 3px solid white;
        background: none;
        transition: .8s cubic-bezier(0.5, 1, 0.89, 1);
    }

    // &:before {
    //     left: 50%;
    // }

    &:after {
        right: 0%;
    }

    &:hover:before,
    &:focus:before,
    &:hover:after,
    &:focus:after {
        width: 50%;
        background: $color-white;
    }
}


@mixin heroImgPostion {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 1.6rem;
    color: $color-white;
    margin-top: 1rem;
    width: 100vw;
}